body {
  margin: 0;
  
  background-color: #23252C;
  color: #F5F5F5;
}

p {
  color: #DCDCDC;
  font-size: 14px;
}

#picture {
  width: 350px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  border-radius: 5px 5px 0 0;
  
  
}


.card {
  margin: 0 auto;
  margin-top: 0;
  width: 300px;
  padding:  25px;
  background: #1A1B21;
 position: relative;
 border-radius:  0px 0px 15px 15px;
  /* border: solid red 10px; */
  
}

.info {
  
  text-align: center;

}

.info > #email-btn {
  width: 290px;
  padding: 3px;
  margin-bottom: 20px;

}


.info > p{
  font-size: small ;
  
}

#info--name{
  margin-top: 0;
  margin-bottom: 3px;
}

#info--role {
  margin: 0px;
}

#info--git {
  margin: 10px 0px;
}

.about-sect > h4{
  margin: 10px 0px 0px 0px;
}

.about-sect > p {
  margin: 3px;
}

.intrest-sect > h4{
  margin: 20px 0px 0px 0px;
} 

.intrest-sect > p {
  margin: 3px 0px 75px;

}

.footer {
  background-color: #161619 ;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  /* border: solid pink 10px; */
  width: 350px;
  text-align: center;
  
 
}


